.section {

  text-align: center;
  margin-top: 80px;
}

.sectionTitle {
  margin: 0 auto;
  width: 744px;
  color: #389cd6;
  font-size: 39px;
  line-height: 50px;
  letter-spacing: 0.78px;
}

.sectionText, .sectionTextTwo {
  width: 550px;
  margin: 0 auto;
  font-size: 20px;
  color: #7b7070;
  line-height: 28px;
  letter-spacing: 0.4px;
}

.sectionTextTwo {
  width: 744px;
}

.articles,
.products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard {
  width: 356px;
  height: 530px;
  border-radius: 16px;
  box-shadow: 0 3px 16px #00000014;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 16px;
}

.productDescription, .articleSummary {
  /* margin: 0; */
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: #7b7070;
}

.productType {
  /* margin: auto; */
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #fff;
}
  
.prodWellness {
  background-color: #389cd6;
  height: 73px;
}

.prodActive {
  background-color: #309d5f;
  height: 73px;
}

.prodAgecare {
  background-color: #ee6381;
  height: 73px;
}

.articles {
  margin-top: 50px;
}

.articleCard {
  width: 356px;
  height: 355px;
  border-radius: 16px;
  box-shadow: 0 3px 16px #00000014;
  overflow: hidden;
  margin: 16px;
  border: none;
}

.articleSummary {
  width: 100%;
  height: 123px;
  margin: 0 auto;
  text-align: left;
}

.button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #389cd6;
  width: 356px;
  height: 64px;
  border-radius: 16px;
  border: none;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: #fff;
  transition: 0.3s;
  margin: 60px 0 90px;
}

.button:hover {
  background-color: #2b7cab;
}



.slider {
  /* margin: 0 auto; */
}

.cardContainer {
  padding: 10px;
}

.card {
  border-radius: 16px;
  box-shadow: 0 3px 16px #00000014;
  overflow: hidden;
  width: 360px;
}

.description {
  height: 120px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: #7b7070;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type {
  height: 73px;
  background-color: #2b7cab;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #fff;
}

@media (max-width: 750px) {
  .sectionTitle, .sectionText, .sectionTextTwo {
    width: 392px;
  }

  .sectionTitle {
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 0.62px;
  }

  .sectionText, .sectionTextTwo {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
  }
}

@media (max-width: 410px) {
  .sectionTitle, .sectionText, .sectionTextTwo {
    width: 90vw;
  }
}